*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:var(--bs-font-sans-serif );
   
    }

$container-width:90%;
$card-border-radius:1rem;
$car-margin-inline:1.5rem;
$card-padding-block:1rem;
$card-background:white;
$home-background:#f2f2f2;
$container-shadow:0 0 2px gray;


.profile-pics{
    border-radius: 50%;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 2.5rem;
    height: 2.5rem;
}

.profile-pics img{
    width: 100%;
    height: 100%;
}

i{
    font-size: large;
    cursor: pointer;
}
i:hover{
    scale: 0.9;
}

button{
    padding:0.6rem 1.5rem;
    border-radius: $card-border-radius !important;
    font-size:medium;
    background-color:  #0d6efd;
    margin-inline: 0.5rem;
    border: none;
    font-weight: bold;
    color: white;
}
button:hover{
    opacity: 0.7;
}

textarea{
    overflow: hidden;
}


//end of default properties
Link{
    text-decoration: none;
    color: red;
}
.navbar{
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed !important;
    z-index: 1000;
    border-bottom: 1px solid black;
    background-color: $card-background;
    .container-fluid{
    width:$container-width;
    margin: auto;
    .navbar-brand{
        text-decoration: none;
    }


    .d-flex{
      align-items: center;
      
    #p-tag{
        border-radius: 50%;
        padding-inline: 0.8rem;
        background-color: black;
        text-align: center;
        font-size: large;
        font-weight: bolder;
        padding-top: 0.5rem;
        height: 40px;
        color: white;
        text-transform: uppercase;
        display: none;
    }
    #nav-icons{
        #log-out-icon{
            color: red;
            margin-left: 1rem;
        }
        i{
            cursor: pointer;
            font-size: 1.5rem;
        }
    } 
    }
    }
        .search-container{
            display: flex;
            background-color: $card-background;
            border-radius: 0.7rem;
            box-shadow: 0 0 2px black;
            margin-top: 0.4rem;
            align-items: center;
            height: 1.8rem;
            overflow: hidden;
          
        }
        .search-container input{
            position: relative;
            border: none;
            outline-color: $card-background;
            font-size: medium;
            padding-inline: 0.9rem;
            width: fit-content;
        }
        .dropdown-menu li:nth-child(3) a:hover{
            background-color: red;
            color: $card-background;
        }
    
}

.home-container{
    position: relative;
    max-width: 100%;
    background-color:$home-background;
    padding-bottom: 5rem;
    

    .home-layer{
        top:5.4rem;
    width: $container-width;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 53% 25%;
    column-gap: 1%;
    position: relative;
    height: fit-content;
    }
}

.post-field-container{
    display: block;
    position: relative;
    top: 0;
    height: fit-content;
    border-radius: 0.7rem;
    width: 100%;
    align-items: center;
    
    .user-profile-conatiner:hover textarea{
        box-shadow: 0px 0px 2px $home-background;
        border-radius: $card-border-radius;
    }
    .user-profile-conatiner{
        background-color:$card-background;
        position: relative;
        margin-bottom: 0.5rem;
        position: relative !important;
        top: 0;
        height:90%;
        border-radius: $card-border-radius;
        font-weight: bold;
        width: 100%;
        align-items: center !important;
        box-shadow: $container-shadow;
            .user-profile-layer{
                position: relative;
                padding:1.5rem 2rem;

                .profile-field-textarea{
                    width: 90%;
                    position: relative !important;
                    height: fit-content;
                    textarea{
                        width: 100%;
                        resize: none;
                        padding: 0.5rem;
                        height: 100px;
                        font-size: medium;
                        border: none;
                        outline: none;
                    }
                }
                .post-textarea-icons{
                    display: flex;
                    align-items: center;
                    position: relative;
                    justify-content: right;
                   
                    i{
                        margin: 0.3rem 0.5rem ;
                        font-size: x-large !important;
        
                    }
                   
                }
                .user-message-categories{
                    select{
                        width: 3.5rem;
                        border-radius: $card-border-radius;
                        border:none;
                        border-right: 0.1px black solid;
                        cursor: pointer;
                        outline-color: #0d6efd;
                        height: 1.5rem;
                        align-self: center;
                        font-size: x-small;
                
                    }
                }
               
            }
    }
    .post-filter{
        position: relative;
        width: 100%;
        background-color: $card-background;
        border-radius: $card-border-radius;
        padding-top: 0.6rem;
        overflow: hidden;
        display: none;
        form{
            display: flex;
            display: relative;
            padding-inline: $car-margin-inline;
            position: relative;
            select{
                width: 9rem;
                border-radius: $card-border-radius;
                border:none;
                border-right: 0.1px black solid;
                cursor: pointer;
                outline-color: #0d6efd;
                margin-right: 1.5rem;

            }

        }
        .post-field{
            @extend .user-profile-conatiner;
            margin-top: 0.9rem;
            border-top: 1px solid var(--bs-gray-200);
            .post-field-categories{
                ul{

                    li{
                        margin-left: -0.5rem;
                        margin-right: 1.4rem;
                        cursor: pointer;  
                        padding-bottom: 0.4rem;
                    }
                    .post-field-categories-active{
                        border-bottom: 2px solid #0d6efd;
                        padding: 0.5rem;
                        border-top: $card-border-radius
                    }
                    .post-field-categories-inactive{
                        padding: 0.5rem;
                        border-top: $card-border-radius
                    }
                }
            }
        }
    }


   

    .post-field-layer{
        @extend .post-field-container;
        box-shadow: $container-shadow;
        
    }
    .posts-container{
        width: 100%;
        position: relative;
        border-radius: $card-border-radius;
        background-color: $card-background;
        
    
    .all-post-container{
        align-items: center;
        padding-top: 1.5rem;
        background-color: $card-background;
        .posters-details{
            font-size:medium;
            font-style: italic;
            color: gray;

            
            h4{
                font-size: medium;
                align-self: self-start;
                color: black;
                line-height: 0.1rem;
                margin-top: 0.7rem;
                font-style: normal;
            }
        }
        i{
            font-size: 0.9rem;
            cursor: pointer;
        }
       

        .posters-messages{
            font-size:medium;
            margin-block: 1.5rem;
            border-radius: $card-border-radius;
        }
       .posts-icons-container{
        width: 100%;
        position: relative;
        border-top: 2px solid var(--bs-gray-200);
        border-bottom:  2px solid var(--bs-gray-200);
            .posts-icons-layer{
                position: relative;
                justify-content: space-between !important;
                width: 100%;
                display: flex;
                i{
                    cursor: pointer;
                    padding: 0.5rem;
                    margin-block: 0.7rem;
                    font-size: medium;
                    position: relative;
                    span{
                        position: absolute;
                        background-color:#0d6efd;
                        width: 2rem;
                        height: 2rem;
                        right: 0%;
                        top: -1rem;
                        display: none;
                        border-radius: 50%;
                        text-align: center;
                        color: white;
                        font-size: x-small;
                        font-weight: bold;
                        box-shadow: 0 0 0.3rem black;
                        align-items: center;
                        p{
                            margin-top: 25%;
                        }
                    }
                }
            }
            .posts-icons-layer i:hover{
                background-color: var(--bs-gray-200);
                scale: 0.9;
                span{
                    display: block;
                }
            }
       }
        .alerts-icons{
           
            i{
                font-size: medium;
                padding: 0.1rem;
                border-radius: 50%;
                background-color: white;
            }
            
           
        }
        .alerts-icons i:nth-child(1){
            color: black;
            z-index: 3;
        }
        .alerts-icons i:nth-child(2){
            color: blue;
            margin-left: -0.2rem;
            z-index: 2;
        }
        .alerts-icons i:nth-child(3){
            color: red;
            margin-left: -0.2rem;
            z-index: 1;
        }
        .react-layer{
            margin-bottom: 1rem;
            span{
                font-size:medium;
                margin-inline: 0.4rem;
                cursor: pointer;
            }
            span:nth-child(1){
                margin-left: 0;
            }
            span:nth-child(4){
                margin-right: 0;
            }
            span:hover{
                color: var(--bs-gray-200);
            }
        }

    }
}
   
}
.Emergency-container:hover{
    box-shadow: 0 0 4px blue;
}
.Emergency-container{
    border-radius: $card-border-radius;
    background-color: $card-background;
    position: sticky !important;
    top: 4.5rem !important;
    height: fit-content;
    text-align: center;
    font-weight: bolder;
    box-shadow: $container-shadow;

    #map-toggle-icon{
        padding: 5px;
        cursor: pointer;
        font-size: 1rem;

    }
   
    .emergency-btn{
        margin-inline: $car-margin-inline;
        border-block: var(--bs-gray-200) 1px solid;
        .emergency-i i{
            border-radius: $card-border-radius;
            padding: 0.5rem;
            font-size: x-small; 
            border: 1px solid black;
            font-weight: bold;
            
        }
        i:hover{
            background-color:black;
            color: white;
            border: none;
            scale: 0.3;
        }
    }
    #location_details{
        text-align: left;
        margin-block: 1.5rem;
        div{
            padding: 1rem;
            border-bottom: 3px solid $home-background;
            border-top: 3px solid $home-background;
        }
        p{
            line-height: 0.4rem;
            font-weight: lighter;
        }
        
    }
}
            


.sign-in{
    input{
        border-inline:none;
        border-top:none
    }
    input:focus{
    outline: none !important;
    box-shadow: none !important;
    
    }
}

.sign-up{
    input,select{
        border-inline:none;
        border-top:none
    }
    input:focus{
    outline: none !important;
    box-shadow: none !important;
    
    }
}


        .user-side-bar{
            display: block;
            position: relative;
            width: 100%;
            overflow: hidden;
            height: fit-content;
          
            position: sticky;
            top: 1rem !important;
            
            
            .user-info{
                padding-inline: 20px;
                margin-bottom: 1rem;
                padding-block: 10px;
               
                background-color: $card-background;
                border-radius: $card-border-radius;
                box-shadow: $container-shadow;
                
          
            }
            img{
                width: 100%;
            }
            .user-image-container{
                margin-bottom: 3rem;
                border: $container-shadow;
            }
            #user-img{
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                position: absolute;
                top: 7rem;
                left: 2rem;
                border: 4px white solid;
            }
            .user-name{
               font-weight: 2rem;
              border-bottom: solid 1px $home-background;
            
               p{
                font-size: 0.8rem;
                font-weight: lighter;
               }
            }
            .user-location{
                margin-block: 1.5rem;
                
             
                div{
                    line-height: 0;
                    margin-bottom: 1rem;
                    p{
                        font-weight: 100 ;
                        font-size: 1.3rem;
                        
                    }
                    span{
                        font-size: 0.7rem;
                        font-weight: lighter;
                    }
                    h6{
                        font-size: 0.8rem;
                    }
                }

                
            }
            .news-container{
                padding-inline: 20px;
                margin-top: 1rem;
                box-shadow: $container-shadow;
                background-color: $card-background;
                border-radius: $card-border-radius;
                h5{
                    margin-bottom: 2rem;
                    padding-top: 1rem;
                }
                .news{
                    padding-top: 0.5rem;
                    border-block: 1px solid $home-background;
                    font-size: 0.8rem;
                    font-weight: lighter;
                    display: flex;
                    justify-content: space-between;
                    #trending-details{
                        width: 75%;
                   
                    }
                }
            }
        }



@media screen and (max-width:770px) {
    
   
.post-field-container{
    grid-column: 1/4;
}
.Emergency-container{
    display: none;
    
}



}


@media screen and (max-width:576px) {

    .home-layer{
        width: 100% !important;
    }

    textarea{
        font-size: small !important;
    }
    
    .post-textarea-icons{
      
        i{
            margin: 0.3rem 0.5rem ;
            font-size: x-small !important;

        }
        button{
            font-size: x-small;
        }
       
    }

    .posts-icons-layer{
        i{
           
            font-size: small !important;
        }
    }
    .posters-messages{
        font-size:small !important;
    }
    .response-post{
   
        margin-left: 1rem !important;

}

    
    }

