* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--bs-font-sans-serif);
}

.profile-pics {
  border-radius: 50%;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
}

.profile-pics img {
  width: 100%;
  height: 100%;
}

i {
  font-size: large;
  cursor: pointer;
}

i:hover {
  scale: 0.9;
}

button {
  padding: 0.6rem 1.5rem;
  border-radius: 1rem !important;
  font-size: medium;
  background-color: #0d6efd;
  margin-inline: 0.5rem;
  border: none;
  font-weight: bold;
  color: white;
}

button:hover {
  opacity: 0.7;
}

textarea {
  overflow: hidden;
}

Link {
  text-decoration: none;
  color: red;
}

.navbar {
  align-items: center;
  width: 100%;
  top: 0;
  right: 0;
  position: fixed !important;
  z-index: 1000;
  border-bottom: 1px solid black;
  background-color: white;
}
.navbar .container-fluid {
  width: 90%;
  margin: auto;
}
.navbar .container-fluid .navbar-brand {
  text-decoration: none;
}
.navbar .container-fluid .d-flex {
  align-items: center;
}
.navbar .container-fluid .d-flex #p-tag {
  border-radius: 50%;
  padding-inline: 0.8rem;
  background-color: black;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  padding-top: 0.5rem;
  height: 40px;
  color: white;
  text-transform: uppercase;
  display: none;
}
.navbar .container-fluid .d-flex #nav-icons .d-flex {
  border-radius: 1rem;
  font-size: x-small;
  cursor: pointer;
}
.navbar .container-fluid .d-flex #nav-icons .d-flex:hover {
  scale: 0.9;
}
.navbar .container-fluid .d-flex #nav-icons #log-out-icon {
  color: red;
}
.navbar .container-fluid .d-flex #nav-icons i {
  cursor: pointer;
  font-size: 1.5rem;
}
.navbar .search-container {
  display: flex;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: 0 0 2px black;
  margin-top: 0.4rem;
  align-items: center;
  height: 1.8rem;
  overflow: hidden;
}
.navbar .search-container input {
  position: relative;
  border: none;
  outline-color: white;
  font-size: medium;
  padding-inline: 0.9rem;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar .dropdown-menu li:nth-child(3) a:hover {
  background-color: red;
  color: white;
}

.home-container {
  position: relative;
  max-width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 5rem;
}
.home-container .home-layer {
  top: 5.4rem;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 53% 25%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.post-field-container, .post-field-container .post-field-layer, .post-field-container .post-field-layer .post-field-layer {
  display: block;
  position: relative;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.7rem;
  width: 100%;
  align-items: center;
}
.post-field-container .user-profile-conatiner:hover textarea, .post-field-container .post-filter .post-field:hover textarea {
  box-shadow: 0px 0px 2px #f2f2f2;
  border-radius: 1rem;
}
.post-field-container .user-profile-conatiner, .post-field-container .post-field-layer .user-profile-conatiner, .post-field-container .post-filter .post-field {
  background-color: white;
  position: relative;
  margin-bottom: 0.5rem;
  position: relative !important;
  top: 0;
  height: 90%;
  border-radius: 1rem;
  font-weight: bold;
  width: 100%;
  align-items: center !important;
  box-shadow: 0 0 2px gray;
}
.post-field-container .user-profile-conatiner .user-profile-layer, .post-field-container .post-filter .post-field .user-profile-layer {
  position: relative;
  padding: 1.5rem 2rem;
}
.post-field-container .user-profile-conatiner .user-profile-layer .profile-field-textarea, .post-field-container .post-filter .post-field .user-profile-layer .profile-field-textarea {
  width: 90%;
  position: relative !important;
  height: -moz-fit-content;
  height: fit-content;
}
.post-field-container .user-profile-conatiner .user-profile-layer .profile-field-textarea textarea, .post-field-container .post-filter .post-field .user-profile-layer .profile-field-textarea textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  height: 100px;
  font-size: medium;
  border: none;
  outline: none;
}
.post-field-container .user-profile-conatiner .user-profile-layer .post-textarea-icons, .post-field-container .post-filter .post-field .user-profile-layer .post-textarea-icons {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: right;
}
.post-field-container .user-profile-conatiner .user-profile-layer .post-textarea-icons i, .post-field-container .post-filter .post-field .user-profile-layer .post-textarea-icons i {
  margin: 0.3rem 0.5rem;
  font-size: x-large !important;
}
.post-field-container .user-profile-conatiner .user-profile-layer .post-textarea-icons button, .post-field-container .post-filter .post-field .user-profile-layer .post-textarea-icons button {
  margin-left: 0.5rem;
}
.post-field-container .user-profile-conatiner .user-profile-layer .user-message-categories select, .post-field-container .post-filter .post-field .user-profile-layer .user-message-categories select {
  width: 3.5rem;
  border-radius: 1rem;
  border: none;
  border-right: 0.1px black solid;
  cursor: pointer;
  outline-color: #0d6efd;
  height: 1.5rem;
  align-self: center;
  font-size: x-small;
}
.post-field-container .post-filter, .post-field-container .post-field-layer .post-filter {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding-top: 0.6rem;
  overflow: hidden;
  display: none;
}
.post-field-container .post-filter form, .post-field-container .post-field-layer .post-filter form {
  display: flex;
  display: relative;
  padding-inline: 1.5rem;
  position: relative;
}
.post-field-container .post-filter form select, .post-field-container .post-field-layer .post-filter form select {
  width: 9rem;
  border-radius: 1rem;
  border: none;
  border-right: 0.1px black solid;
  cursor: pointer;
  outline-color: #0d6efd;
  margin-right: 1.5rem;
}
.post-field-container .post-filter .post-field {
  margin-top: 0.9rem;
  border-top: 1px solid var(--bs-gray-200);
}
.post-field-container .post-field-layer, .post-field-container .post-field-layer .post-field-layer {
  box-shadow: 0 0 2px gray;
}
.post-field-container .posts-container, .post-field-container .post-field-layer .posts-container {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  background-color: white;
}
.post-field-container .posts-container .all-post-container {
  align-items: center;
  padding-top: 1.5rem;
  background-color: white;
}
.post-field-container .posts-container .all-post-container .posters-details {
  font-size: medium;
  font-style: italic;
  color: gray;
}
.post-field-container .posts-container .all-post-container .posters-details h4 {
  font-size: medium;
  align-self: self-start;
  color: black;
  line-height: 0.1rem;
  margin-top: 0.7rem;
  font-style: normal;
}
.post-field-container .posts-container .all-post-container i {
  font-size: 0.9rem;
  cursor: pointer;
}
.post-field-container .posts-container .all-post-container .posters-messages {
  font-size: medium;
  margin-block: 1.5rem;
  border-radius: 1rem;
}
.post-field-container .posts-container .all-post-container .posts-icons-container {
  width: 100%;
  position: relative;
  border-top: 2px solid var(--bs-gray-200);
  border-bottom: 2px solid var(--bs-gray-200);
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer {
  position: relative;
  justify-content: space-between !important;
  width: 100%;
  display: flex;
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer i {
  cursor: pointer;
  padding: 0.5rem;
  margin-block: 0.7rem;
  font-size: medium;
  position: relative;
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer i span {
  position: absolute;
  background-color: #0d6efd;
  width: 2rem;
  height: 2rem;
  right: 0%;
  top: -1rem;
  display: none;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: x-small;
  font-weight: bold;
  box-shadow: 0 0 0.3rem black;
  align-items: center;
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer i span p {
  margin-top: 25%;
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer i:hover {
  background-color: var(--bs-gray-200);
  scale: 0.9;
}
.post-field-container .posts-container .all-post-container .posts-icons-container .posts-icons-layer i:hover span {
  display: block;
}
.post-field-container .posts-container .all-post-container .alerts-icons i {
  font-size: medium;
  padding: 0.1rem;
  border-radius: 50%;
  background-color: white;
}
.post-field-container .posts-container .all-post-container .alerts-icons i:nth-child(1) {
  color: black;
  z-index: 3;
}
.post-field-container .posts-container .all-post-container .alerts-icons i:nth-child(2) {
  color: blue;
  margin-left: -0.2rem;
  z-index: 2;
}
.post-field-container .posts-container .all-post-container .alerts-icons i:nth-child(3) {
  color: red;
  margin-left: -0.2rem;
  z-index: 1;
}
.post-field-container .posts-container .all-post-container .react-layer {
  margin-bottom: 1rem;
}
.post-field-container .posts-container .all-post-container .react-layer span {
  font-size: medium;
  margin-inline: 0.4rem;
  cursor: pointer;
}
.post-field-container .posts-container .all-post-container .react-layer span:nth-child(1) {
  margin-left: 0;
}
.post-field-container .posts-container .all-post-container .react-layer span:nth-child(4) {
  margin-right: 0;
}
.post-field-container .posts-container .all-post-container .react-layer span:hover {
  color: var(--bs-gray-200);
}

.Emergency-container:hover {
  box-shadow: 0 0 4px blue;
}

.Emergency-container {
  border-radius: 1rem;
  background-color: white;
  position: sticky !important;
  top: 4.5rem !important;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0 0 2px gray;
}
.Emergency-container #map-toggle-icon {
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.Emergency-container .emergency-btn {
  margin-inline: 1.5rem;
  border-block: var(--bs-gray-200) 1px solid;
}
.Emergency-container .emergency-btn .emergency-i i {
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: x-small;
  border: 1px solid black;
  font-weight: bold;
}
.Emergency-container .emergency-btn i:hover {
  background-color: black;
  color: white;
  border: none;
  scale: 0.3;
}
.Emergency-container #location_details {
  text-align: left;
  margin-block: 1.5rem;
}
.Emergency-container #location_details div {
  padding: 1rem;
  border-bottom: 3px solid #f2f2f2;
  border-top: 3px solid #f2f2f2;
}
.Emergency-container #location_details p {
  line-height: 0.4rem;
  font-weight: lighter;
}

.sign-in input {
  border-inline: none;
  border-top: none;
}
.sign-in input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.sign-up input, .sign-up select {
  border-inline: none;
  border-top: none;
}
.sign-up input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.user-side-bar {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 1rem !important;
}
.user-side-bar .user-info {
  padding-inline: 20px;
  margin-bottom: 1rem;
  padding-block: 10px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 2px gray;
}
.user-side-bar img {
  width: 100%;
}
.user-side-bar .user-image-container {
  margin-bottom: 3rem;
  border: 0 0 2px gray;
  height: 8rem;
  overflow: hidden;
}
.user-side-bar #user-profile-pics {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 7rem;
  left: 2rem;
  border: 4px white solid;
  overflow: hidden;
}
.user-side-bar #user-profile-pics #user-img {
  width: 100%;
  height: 100%;
  border: none;
}
.user-side-bar .user-name {
  font-weight: 2rem;
  border-bottom: solid 1px #f2f2f2;
}
.user-side-bar .user-name p {
  font-size: 0.8rem;
  font-weight: lighter;
}
.user-side-bar .user-location {
  margin-block: 1.5rem;
}
.user-side-bar .user-location p {
  font-weight: 100;
  font-size: 1.3rem;
}
.user-side-bar .user-location div {
  line-height: 0;
  margin-bottom: 1rem;
  border-right: 1px solid gray;
  width: 50%;
  margin-right: 0.5rem;
}
.user-side-bar .user-location div span {
  font-size: 0.7rem;
  font-weight: lighter;
}
.user-side-bar .user-location div h6 {
  font-size: 0.8rem;
}
.user-side-bar .news-container {
  padding-inline: 20px;
  margin-top: 1rem;
  box-shadow: 0 0 2px gray;
  background-color: white;
  border-radius: 1rem;
}
.user-side-bar .news-container h5 {
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.user-side-bar .news-container .news {
  padding-top: 0.5rem;
  border-block: 1px solid #f2f2f2;
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
}
.user-side-bar .news-container .news #trending-details {
  width: 75%;
}

@media screen and (max-width: 770px) {
  .post-field-container, .post-field-container .post-field-layer, .post-field-container .post-field-layer .post-field-layer {
    grid-column: 1/4;
  }
  .Emergency-container {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .home-layer {
    width: 100% !important;
  }
  textarea {
    font-size: small !important;
  }
  .post-textarea-icons i {
    margin: 0.3rem 0.5rem;
    font-size: x-small !important;
  }
  .post-textarea-icons button {
    font-size: x-small;
  }
  .posts-icons-layer i {
    font-size: small !important;
  }
  .posters-messages {
    font-size: small !important;
  }
  .response-post {
    margin-left: 1rem !important;
  }
}/*# sourceMappingURL=main.css.map */